apiVersion: apps/v1
kind: Deployment
metadata:
  name: employee-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi-container
        image: yehudafreiman/employee-app:latest
        ports:
        - containerPort: 8000
        env:
        - name: MONGO_URI
          value: "mongodb+srv://YehudaFreiman:3UJrKTTbwPWjuI60@cluster0.gmuqvbk.mongodb.net/?appName=Cluster0"
---
apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
spec:
  selector:
    app: fastapi
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000