apiVersion: v1
kind: Service
metadata:
  name: mongo-service
spec:
  clusterIP: None
  selector:
    app: mongodb
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
spec:
  serviceName: mongo-service
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: registry.access.redhat.com/rhscl/mongodb-36-rhel7:latest
        ports:
        - containerPort: 27017
        env:
        - name: MONGODB_USER
          value: "admin"
        - name: MONGODB_PASSWORD
          value: "password123"
        - name: MONGODB_DATABASE
          value: "test"
        - name: MONGODB_ADMIN_PASSWORD
          value: "admin123"
        volumeMounts:
        - name: mongodb-storage
          mountPath: /var/lib/mongodb/data
  volumeClaimTemplates:
  - metadata:
      name: mongodb-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 5Gi